:root {

    --primary-color: #FFE8D1;
    --secondary-color: #194A52;
    --accent2: #568EA3;
    --accent1: #826251;
    --other: #FFFFFF;

    --heading-font: 'Roboto', sans-serif;
    --text-font-h1: 100;
    --tex-font-h2: 400;

}

body {
   margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: block;
    width: auto;
   
   
}





h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #568EA3;
   margin-bottom: 4rem;

}

h2 {

    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-weight: var(--tex-font-h2);


}



p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: var(--other);
    

}

.para {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: var(--other);
    padding-top: 6rem;

}


nav {
    background-color: #FFE8D1;
    text-align: right;


}


.navigation a {
    text-decoration: none;
    color: var(--secondary-color);


}

.hero {
    position: relative;



}

.img1 {
    display: block;
    width: 100%;
    height: 500px;
    margin-top: 0.5rem;

}





.img2 {
    width: 100px;
    height: auto;



}

section p {

    color: var(--secondary-color);

}





article img {
    float: right;
    padding-bottom: 8rem;
    padding-top: 14px;
    padding-right: 1rem;

}

article p {

    padding-left: 1rem;
}

article {
    position: absolute;
    bottom: 50px;
    background-color: #e1e0de38;
    margin: 8rem;
    height: 180px;


}



.img3 {
    height: 150px;
}


/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 */


.hero h1 {

    position: absolute;
    top: 50px;
    bottom: 600px;
    color: white;
    left: 500px;
    background-color: #ffe8d138;
    height: min-content;

}


.navigation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
   




}



.section1 img {
    padding-left: 30rem;
    width: 300px;
    height: auto;


}

.section1 h2 {

    padding-left: 35rem;
}




footer {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    background-color: #FFE8D1;
    margin-right: 1rem;

}

footer p {

    color: var(--secondary-color);
    padding-right: 20rem;

}




.contact1{
padding-top: 1rem;
   background-color: #f1f2f2; 
}


.section2 h2 {
    padding-left: 30rem;


}

.fig {

    display: flex;
    justify-content: space-around;
   

}

figure img {
    max-width: 100px;
    margin: auto;
    border: thin #c0c0c0 solid;
}

figcaption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 3px;
    text-align: center;
}

.header1 {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    width: auto;
   
    background-color: var(--primary-color);



}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    display: grid;
    margin-right: 450px;


}



fieldset {
    display: grid;
    gap: 0.2rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1rem;

}


label,
input,
button,
select,
textarea {

    font-family: 'Times New Roman', Times, sans-serif, serif;

}

label {
    text-align: right;
    padding: 1rem
}

button {
    margin: 1rem;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {

    background-color: darkgreen;

}


.form-item {

    display: grid;
    align-items: center;

}


.column1 {
    grid-template-columns: 1fr 0.5fr;
    margin: 0.5rem 0;



}

.column2 {
    grid-template-columns: 1fr 2fr;


}


label {
    text-align: left;
    padding: 1rem
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;


} .column1 input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-right: 100px;
  


}

.address p{
color: var(--secondary-color);
font-weight: 100;



}



.contact{
padding-left: 500px;


}
.address{

display: flex;
justify-content: space-around;


}

.message{
margin-top: 4rem;
padding-left: 500px;

}

.map{
margin-top: 4rem;
padding-left: 300px;



}

.column1 label{
  justify-self: start; 
  color: var(--secondary-color);




}

.wire{
padding-right: 3px;
padding-top: 8px;

}

.home h1{

padding-left: 24rem;

}
.hero1 h1  {
 
    background-color: transparent;
  
    
}


.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 1rem;
    align-items: center;
    margin-left:8rem ;

    
   
}
.grid-img img{
width: 500px;


}


.learn-more{
    margin-left: 40rem ;
    margin-bottom: 2rem;

}


.hero2 h2{
padding-left: 16rem;
   color: var(--secondary-color); 
}

.article1 {
    background-color: transparent;
   

}
.article1 {
   font-size: large;

}


.banner {
    
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 2em;
    background-color:  #cde8f2;;
    
}

.grid-trips{
display: grid;
gap: 1rem;
grid-template-columns: 1fr 1fr 1fr;

align-items: center;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 1rem;



}

.trip img {
    width: 100%;
    height: 200px;
    margin-left: 1rem;

}


.trip-details {
    padding-left: 1rem;
    padding-top: 1rem;
}
.trip-details h3 {
    margin: 0;
    color: var(--secondary-color);
}

.trip-details p {
    margin: 0;
    color: var(--secondary-color);
padding-top: 0.5rem;
}



#info {
   
   margin-top: 2rem;
    margin-left: 24rem;
    width: 50%;
 
}
  
  #info td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  
 
  
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--primary-color);
    color:var(--secondary-color);

}
#info caption{

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--secondary-color);

}