:root {

    --primary-color: #FFE8D1;
    --secondary-color: #194A52;
    --accent2: #568EA3;
    --accent1: #826251;
    --other: #FFFFFF;

    --heading-font: 'Roboto', sans-serif;
    --text-font-h1: 100;
    --tex-font-h2: 400;

}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: block;
    width: auto;
   
   
}





h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: #568EA3;
}

h2 {

    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-weight: var(--tex-font-h2);


}



p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: var(--other);

}

nav {
    background-color: #FFE8D1;
    text-align: right;


}


.navigation a {
    text-decoration: none;
    color: var(--secondary-color);


}

.hero {
    position: relative;



}

.img1 {
    display: block;
    width: 100%;
    height: 500px;
    margin-top: 0.5rem;

}





.img2 {
    width: 100px;
    height: auto;



}

section p {

    color: var(--secondary-color);

}





article img {
    float: right;
    padding-bottom: 8rem;
    padding-top: 14px;
    padding-right: 1rem;

}

article p {

    padding-left: 1rem;
}

article {
    position: absolute;
    bottom: 50px;
    background-color: #ffe8d138;
    margin: 8rem;
    height: 180px;


}


.img3 {
    height: 150px;
}


/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 */


.hero h1 {

    position: absolute;
    top: 50px;
    bottom: 600px;
    color: white;
    left: 500px;
    background-color: #ffe8d138;
    height: min-content;

}


.navigation {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
   




}



.section1 img {
    padding-left: 30rem;
    width: 300px;
    height: auto;


}

.section1 h2 {

    padding-left: 35rem;
}




footer {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    background-color: #FFE8D1;


}

footer p {

    color: var(--secondary-color);
    padding-right: 20rem;

}







.section2 h2 {
    padding-left: 30rem;


}

.fig {

    display: flex;
    justify-content: space-around;
   

}

figure img {
    max-width: 100px;
    margin: auto;
    border: thin #c0c0c0 solid;
}

figcaption {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 3px;
    text-align: center;
}

.header1 {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    width: auto;
   
    background-color: var(--primary-color);



}

form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    display: grid;
    margin-right: 450px;


}



fieldset {
    display: grid;
    gap: 0.2rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1rem;

}


label,
input,
button,
select,
textarea {

    font-family: 'Times New Roman', Times, sans-serif, serif;

}

label {
    text-align: right;
    padding: 1rem
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {

    background-color: darkgreen;

}


.form-item {

    display: grid;
    align-items: center;

}


.column1 {
    grid-template-columns: 1fr 0.5fr;
    margin: 0.5rem 0;



}

.column2 {
    grid-template-columns: 1fr 2fr;


}


label {
    text-align: left;
    padding: 1rem
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;


} .column1 input {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-right: 100px;
  


}

.address p{
color: var(--secondary-color);
font-weight: 100;



}



.contact{
padding-left: 500px;


}
.address{

display: flex;
justify-content: space-around;


}

.message{
margin-top: 4rem;
padding-left: 500px;

}

.map{
margin-top: 4rem;
padding-left: 300px;



}

.column1 label{
  justify-self: start; 
  color: var(--secondary-colo);




}

.myForm{


    
}
